$color-primary: #90C2E7;
$color-primary-dark: #4E8098;
$color-secondary: #00A9A5;
$color-secondary-dark: #0B5351;
$color-secondary-darker: #092327;
$color-accent: #F5CDA7;
$color-accent-dark: #FAA381;

$color-black: #000000;
$color-black-soften: #121212;
$color-white: #FFFFFF;

$color-grey-100: #F5F5F5;
$color-grey-200: #EEEEEE;
$color-grey-300: #E0E0E0;
$color-grey-400: #BDBDBD;
$color-grey-500: #9E9E9E;
$color-grey-600: #757575;
$color-grey-700: #616161;
$color-grey-800: #424242;
$color-grey-900: #212121;

$color-bluegrey-100: #CFD8DC;
$color-bluegrey-200: #B0BEC5;
$color-bluegrey-300: #90A4AE;
$color-bluegrey-400: #78909C;
$color-bluegrey-500: #607D8B;
$color-bluegrey-600: #546E7A;
$color-bluegrey-700: #455A64;
$color-bluegrey-800: #37474F;
$color-bluegrey-900: #263238;

$color-border: #CBD5E12A;