@import '../variable';

@mixin tweak-clickable-icon($background) {
	border-radius: $size-infinity;
	padding: 4px;
	@include tweak-clickable($background);
}

@mixin tweak-clickable($background) {
	cursor: pointer;
	transition: background-color 300ms;

	&:hover {
		background-color: #88888820;
	}
}

@mixin tweak-cta-button() {
	cursor: pointer;
	border-radius: 4px;
	padding: 8px 16px;
	border: none;
}
