@import '../variables';

@mixin tweak-clickable-icon($background) {
	cursor: pointer;
	border-radius: $size-infinity;
	padding: 4px;
	transition: background-color 300ms;

	&:hover {
		background-color: $background;
	}
}

@mixin tweak-clickable {
	cursor: pointer;
	transition: background-color 300ms;

	&:hover {
		background-color: #88888820;
	}
}
